@media screen and (max-width: 680px) {
    #cartCard img{
        display: none;
    }
    .pages{
        display: none;
    }
  }
.pages .link.active{
    background-color: #eeededdd;
    border-radius: 10px;
    font-weight: 600;
}